h1 { 
    display: block; 
    color: rgb(95, 172, 146); 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-weight: bold;
}
p {
    display: block;
    color: rgb(95, 172, 146);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}


.para { 
    color:rgb(95, 172, 146);
    border: thin;
    
}
body{
    
    background-image: linear-gradient(
        to bottom,
        rgb(102, 66, 136),
        rgb(41, 79, 114)
    );
}
ul {
    display: block;
    color: rgb(95, 172, 146);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}